@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(255,178,117);
  background: linear-gradient(to right, rgb(251, 113, 133), rgb(253, 186, 116));
}
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

